html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 35px;
  padding-top: 60px; 
}

@media (max-width: 979px) {
  body {
    padding-top: 60px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #d5d5d5;
}

.inline-boxes {
    display: inline-block;
	padding: 50px;
}
