<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hello World Thymeleaf!!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
	<div th:each="park : ${parks}" class="inline-boxes" th:text="${park.name}"></div>
</body>
</html>
